
body{
    background-image: url('./images/bg-pattern-top-desktop.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size:500px;
    background-position-y: top;
}
.container{
    
    width:85%;
    height: 85%;
    margin:0 auto;
    margin-top:65px;
    padding:65px;

    flex-direction: row;
}
.titles-container{
    width:288px;
    
    margin-right:300px;
       
}

.rate-container{
    width:288px;
    margin-right: 150px;
    
}

.rate-container .rate-review-card-container{
    display:flex;
    flex-direction: row;
    gap:15px;
    width:325px;
    height: 40px;
}

.rate-view-A{
    margin-right: -5%;
    
}

.rate-view-B{
    margin-right: -20%;;
}

.rate-view-C{
    margin-right: -35%;
}

.rate-container .rate-review-card-container .rate-card-starts-container img{
    width:15px;
}

.review-container{
    width:100%;
    flex-direction: row;
    gap:35px;
}

.c1{
    position: relative;
    top:-15px;
    width:380px;
}

.c2{
    position: relative;
    top:10px;
    width:380px;
}

.c3{
    position:relative;
    top:20px;
    width:380px;
}