.container{
    width:800px;
    margin-left: auto;
    margin-right: auto;
    margin-top:75px;

    flex-direction: row;
}
.titles-container{
    width:50%;
       
}

.rate-container{
    width:50%;
}